@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> signInManager
@model IEnumerable<TicketManager.Models.Ticket>

@{
    ViewData["Title"] = "Available Tickets";
}

<h1>Available Tickets</h1>
@if (signInManager.IsSignedIn(User) && !User.IsInRole("Administrator"))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ticked Id
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concert.Location.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concert.Singer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Concert.Date)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Concert.Discriminator)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Concert.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Concert.Singer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Concert.Date)
                        </td>
                        <td>
                            <a asp-action="Reserve" asp-route-id="@item.Id">Reserve Ticket</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<div id="mapDiv" style="width:100%;height:500px;"></div>
<script type="text/javascript">
        window.onload = function () {
            let locations = @Json.Serialize(Model.Select(m => m.Concert.Location).Distinct());
            console.log(locations);
            DisplayLocations(locations);
        };
</script>

<script src="https://maps.googleapis.com/maps/api/js?"></script>
<script src="~/js/site.js"></script>