@model TicketManager.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    @*<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concert.Discriminator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsReserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsReserved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>*@

    <ul>
        <li>№ @Html.DisplayFor(model => model.Id)</li>
        <li>Singer: @Html.DisplayFor(model => model.Concert.Singer.Name)</li>
        <li>Date: @Html.DisplayFor(model => model.Concert.Date)</li>
        <li>Location: @Html.DisplayFor(model => model.Concert.Location.Name)</li>
        <li>Concert Type: @Html.DisplayFor(model => model.Concert.Discriminator)</li>
        <li> @Html.DisplayNameFor(model => model.IsReserved) @Html.DisplayFor(model => model.IsReserved)</li>
        <li>@Html.DisplayNameFor(model => model.User): @Html.DisplayFor(model => model.User.Id)</li>
        <li>@Html.DisplayNameFor(model => model.User.UserName): @Html.DisplayFor(model => model.User.UserName)</li>
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
