@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> signInManager
@model IEnumerable<TicketManager.Models.ConcertTypes.OpenAir>

@{
    ViewData["Title"] = "Index";
}

<h1>Open Air</h1>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Headliner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationInstruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Singer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Discriminator)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headliner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationInstruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Singer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Discriminator)
        </td>*@
            <td>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else
                {
                    // TODO GO TO TICKET LIST
                    <a>Tickets</a>
                }
            </td>

            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
        }
    </tbody>
</table>
